HTML {
    background-color:aquamarine;
    font-size: 13;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header{
    text-align: center;
    color: rgb(26, 120, 133);
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .user {
    text-align: right;
    width: 25%;
    position:absolute;
    right: 15px;
}

.wrapper .main {
    width: 100%;
    left: 25%;
    right: 25%;
}

.wrapper .comment-box{
    text-align: left;
    width: 20%;
    position: absolute;
    left: 0;
}

.comment-box {
    border: 1px solid rgb(242, 103, 214);
    margin: 50px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin-left: 35px;
    }

.comment-box h3{
    color: rgb(26, 120, 133);
}

.comment-form input, .comment-form textarea {
    padding: 5px;
    margin: 3px, 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(6, 2, 246);
    color: black;
}

.comment-form button{
    margin: 5px;
    border: none;
    background-color: rgb(128, 158, 240);
    border-radius: 3px;
    padding: 3px;
}

button:hover{
    color: rgb(6, 2, 246);
    background-color: rgb(242, 103, 214);
}